<div class="center">
  <h1>Dooley Transportation Inc.</h1>
  <h3>Specializing in auto transport for the insurance and salvage industries.</h3>
</div>

<div class="center">
  <h3>Dooley Transportation Inc. is a family owned and operated  towing business established in 1978. With over 35 years serving the needs of our customers we have the skill and the knowledge to get the job done right. We specialize in towing for the insurance and salvage industries, servicing most of the salvage pools in the I-95 corridor from Maine to the Eastern New York and New Jersey areas, including the Bronx and Long Island "YOU CALL...WE HAUL...."</h3>
</div>

<footer>
  <p>
    50 Turnpike St.
    West Bridgewater MA, 02379
    Phone:  508-586-9007
    Fax: 508-586-1158
    Professional Service Since 1978
  </p>
</footer>
